.close-button {
  position: absolute;
  top: 50px;
  right: 63px;
  background: none;
  border: none;
  color: white;
  font-size: 44px;
  font-weight: 100;
  cursor: pointer;

  &:hover {
    color: rgba(255, 255, 255, 0.7);
  }
}
